@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

img {
    border-radius: 50%;
    width: 5vw;
    margin: 24px;
}

body {
    height: 100vh;
    margin: 0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.content {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.profile-card {
    background-color: hsl(0, 0%, 12%);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*why does flex-basis: 25vw; not work here*/
    /*update: this is because flex-direction: column causes flex-basis to adjust the height instead */
    width: 18vw;
    height: 64vh;
    padding: 32px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name {
    font-size: 28px;
    margin: 12px;
    font-weight: 700;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}


.short-summary {
    margin: 24px;
}

.nav-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-box {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 5vh;
    margin: 8px;
    font-weight: 600;
    font-size: 14px;
}

.nav-box:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);;
}

.name,
.short-summary,
.nav-box {
    color: hsl(0, 0%, 100%);
    white-space: nowrap;
    overflow: hidden;
}

.attribution {
    display: flex;
    justify-content: center;
    padding: 20px;
}